 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
 }

body, html{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #eeeb25, #fd7d05); 
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150vh;
    width: 100%;
}

.login-form{
    background: white;
    padding: 40px;
    border-radius: 10px;
    border: 8px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.recipe-finder-header {
    /* background: #e97821; */
    padding: 6px;
    color: black;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 2px;
}


.login-form h2 {
    margin-bottom: 20px;
    color: black;
}

.form-group {
    margin-bottom: 18px;
    text-align: left;
    position: relative;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
  
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-right: 40px;
}

.form-group .forgot-password {
    display: block;
    margin-top: 5px;
    color: #2528f3;
    text-decoration: none;
    text-align: center;
}

.form-group .forgot-password:hover {
    text-decoration: underline;
}

.eye-icon {
    font-size: 18px;
    color: #363636;
    top: 50%;
    right: 10px;
    padding: 5px;
    transform: translateY(-30%);
    position: absolute;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    height: 100%;
    width: 40px;
}

.login-button {
    width: 100%;
    padding: 9px;
    background: #f77b1c;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}
  
.login-button:hover {
    background: #f79346;
}

.error-message {
    color: red;
    margin-top: 10px;
}
  
.signup-text {
    margin-top: 20px;
    color: #333;
}
  
.signup-text a {
    color: #2528f3;
    text-decoration: none;
}
  
.signup-text a:hover {
    text-decoration: underline;
}