 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
 }

body, html{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white; 
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.login-form{
    background: white;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.good-food-header {
    padding: 6px;
    color: black;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 2rem;
}

.login-form h2 {
    margin-bottom: 20px;
    color: rgb(87, 85, 85);
}

.form-group {
    margin-bottom: 18px;
    text-align: left;
    position: relative;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
  
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-right: 40px;
}

.eye-icon {
    font-size: 18px;
    color: #363636;
    top: 15%;
    right: 10px;
    padding: 5px;
    transform: translateY(5%);
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    height: 100%;
    width: 40px;
}

.login-button {
    width: 100%;
    padding: 9px;
    background: #f77b1c;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}
  
.login-button:hover {
    background: #f79346;
}

.login-button:active {
    background: #f79346;
}

.signup-text {
    margin-top: 20px;
    color: #333;
}
  
.signup-text a {
    color: #2528f3;
    text-decoration: none;
}
  
.signup-text a:hover {
    text-decoration: underline;
}