.signInContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  padding: 20px;
  
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.inputField {
  position: relative;
  margin-bottom: 20px;
}

.inputField input {
  width: 100%;
  padding: 12px;
  padding-right: 40px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.eyeIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  color: #888;
}

.loginButton {
  padding: 12px;
  font-size: 1.2rem;
  color: white;
  background-color: #ffae00;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #0056b3;
}

.signupLink {
  margin-top: 20px;
  font-size: 1rem;
  color: #0f0606;
  text-align: center;
}

.signupLink a {
  text-decoration: none;
  color: inherit;
}

.signupLink a:hover {
  text-decoration: underline;
}
