* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.login-form {
  background: white;
  padding: 40px;
  min-height: max-content;
  border-radius: 10px;
  border: 8px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.recipe-finder-header {
  padding: 6px;
  color: black;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 2px;
}

.login-form h2 {
  margin-bottom: 20px;
  color: black;
}

.form-group {
  margin-bottom: 18px;
  text-align: left;
  position: relative;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding-right: 40px; /* Ensure there is space for the eye icon */
}

.form-group .forgot-password {
  display: block;
  margin-top: 5px;
  color: #2528f3;
  text-decoration: none;
  text-align: center;
}

.form-group .forgot-password:hover {
  text-decoration: underline;
}

.eye-icon {
  font-size: 18px;
  color: #363636;
  position: absolute;
  top: 70%;
  right: 5%;
  transform: translateY(-50%);
  cursor: pointer;
}

.login-button {
  width: 100%;
  padding: 9px;
  background: #f77b1c;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.login-button:hover {
  background: #f79346;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.signup-text {
  margin-top: 20px;
  color: #333;
}

.signup-text a {
  color: #2528f3;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}
