.notFoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
}

.notFoundTitle {
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0,1);
  font-size: 4rem;
  font-weight: bold;
  color: red;
  margin-bottom: 20px;
  animation: bounce 1s infinite;
}

.notFoundMessage {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 40px;
}

.homeButton {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.homeButton:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .notFoundTitle {
    font-size: 3rem;
  }

  .notFoundMessage {
    font-size: 1.2rem;
  }

  .homeButton {
    font-size: 1rem;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }

}
