.signup-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  width: 400px;
  text-align: center;
  margin-top: 20px; /* Adjust margin-top as needed */
}



.form-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input:focus {
  border-color: #ff7e5f;
  outline: none;
  box-shadow: 0 0 8px rgba(255, 126, 95, 0.2);
}

button {
  width: 100%;
  padding: 15px;
  background-color: #ff7e5f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

button:hover {
  background-color: #feb47b;
}

#message {
  margin-top: 15px;
  color: red;
  font-weight: bold;
}

.login-link {
  color:black;
  margin-top: 10px; /* Adjust margin-top as needed */
}

.login-link a {
  color: #2528f3;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

.error-message{
  color: red;
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
}